# Other joins

## Video lecture Transcript

**1. Other joins**

All right, let's continue on. You now know how to use the merge method to perform an inner and left join. The merge method supports two other join types.

**2. Right join**

Let's start with the right join. It will return all of the rows from the right table and includes only those rows from the left table that have matching values. It is the mirror opposite of the left join.

**3. Right join**

These example tables show the result of a right join. Only rows from the left table where the column C matches are returned. Where there isn't a match, the columns from the left table will be missing in the result table, like rows one and four.

**4. Looking at data**

For this lesson, let's look at another table called movie_to_genres. Movies can have multiple genres, and this table lists different genres for each movie.

**5. Filtering the data**

For our right join example, let's take a sample of this data subsetting to develop a table of movies from the TV Movie genre.

**6. Data to merge**

Our goa...e the key column used to join the tables has no match, null values are returned. That is why in the result, the columns from the left table are missing in rows one and five, and in column D row three is missing.

**10. Datasets for outer join**

For an example of this, we filter the movie_to_genres table as before into two very small tables. One table has data on Family movies, and the other has Comedy movies.

**11. Merge with outer join**

In this merge, we list the family table as the left table and merge it on the movie_id column. The how argument is set to outer for an outer join. Both of our tables have the same column names. Therefore, we add suffixes to show what table the columns originated.

In our result table, every row is returned for both tables and we see some null values. In our original comedy tables ID number 12 does not exist. Therefore a null is shown. Similarly, in our last row, movie ID 13 wasn't in the family dataset so it has a null.

**12. Let's practice!**

Let's practice!

## Exercise 1:
Right join to find unique movies
Most of the recent big-budget science fiction movies can also be classified as action movies. You are given a table of science fiction movies called `scifi_movies` and another table of action movies called `action_movies`. Your goal is to find which movies are considered only science fiction movies. Once you have this table, you can merge the movies table in to see the movie names. Since this exercise is related to science fiction movies, use a right join as your superhero power to solve this problem.

The movies, `scifi_movies`, and `action_movies` tables have been loaded for you.

___

### Instructions 1:
Merge `action_movies` and `scifi_movies` tables with a right join on `movie_id`. Save the result as `action_scifi`

### Code 1:
```python
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on="movie_id", how="right")
```

___

### Instructions 2:
Update the merge to add suffixes, where '_act' and '_sci' are suffixes for the left and right tables, respectively.

### Code 2:

```python
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right', suffixes=["_act", "_sci"])
print(action_scifi.head())
```
___

### Instructions 3:
From `action_scifi`, subset only the rows where the genre_act column is null.

### Code 3:
```python
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right', suffixes=('_act','_sci'))
# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi["genre_act"].isnull()]
```
___

### Instructions 4:
Merge movies and `scifi_only` using the id column in the left table and the `movie_id` column in the right table with an inner join.

### Code 4:
```python
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right', suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only, left_on="id", right_on="movie_id")

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)
```

## Exercise 1 Recap:
Well done, right join to the rescue! You found over 250 action only movies by merging `action_movies` and `scifi_movies` using a right join. With this, you were able to find the rows not found in the `action_movies` table. Additionally, you used the `left_on` and `right_on` arguments to merge in the movies table. Wow! You are a superhero.
___

## Exercise 2:

Popular genres with right join
What are the genres of the most popular movies? To answer this question, you need to merge data from the `movies` and `movie_to_genres` tables. In a table called `pop_movies`, the top 10 most popular movies in the movies table have been selected. To ensure that you are analyzing all of the popular movies, merge it with the `movie_to_genres` table using a right join. To complete your analysis, count the number of different genres. Also, the two tables can be merged by the movie ID. However, in `pop_movies` that column is called `id`, and in `movie_to_genres` it's called `movie_id`.

The `pop_movies` and `movie_to_genres` tables have been loaded for you.

___

### Instructions:
Merge movie_to_genres and pop_movies using a right join. Save the results as genres_movies.
Group genres_movies by genre and count the number of id values.


### Code:
```python
# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', 
                                                left_on="movie_id", 
                                                right_on="id")

# Count the number of genres
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()

```

## Exercise 2 Recap:
Nice job! The right join ensured that you were analyzing all of the `pop_movies`. You see from the results that adventure and action are the most popular genres.
___

## Exercise 3:
Using outer join to select actors
One cool aspect of using an outer join is that, because it returns all rows from both merged tables and null where they do not match, you can use it to find rows that do not have a match in the other table. To try for yourself, you have been given two tables with a list of actors from two popular movies: Iron Man 1 and Iron Man 2. Most of the actors played in both movies. Use an outer join to find actors who did not act in both movies.

The Iron Man 1 table is called `iron_1_actors`, and Iron Man 2 table is called `iron_2_actors`. Both tables have been loaded for you and a few rows printed so you can see the structure.

<img src="https://assets.datacamp.com/production/repositories/5486/datasets/c5d02ebba511e90ae132f89ff091e6729c040bd2/noJoin.png"/>

### Instructions:
Save to `iron_1_and_2` the merge of `iron_1_actors` (left) with `iron_2_actors` tables with an outer join on the id column, and set suffixes to (`'_1'`, `'_2'`).
Create an index that returns True if `name_1` or `name_2` are null, and False otherwise.

### Code:
```python
# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                    on="id",
                                    how="outer",
                                    suffixes=["_1", "_2"])

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

```


## Exercise 3 Recap:
Nice job! Using an outer join, you were able to pick only those rows where the actor played in only one of the two movies.

# Other joins Recap:

Other joins
You learned about advanced table merging techniques using different join types in pandas, focusing on right, outer joins, and how to merge tables based on different column names. Here's a quick recap:

Right Join: You discovered that a right join returns all rows from the right table and those rows from the left table where the key columns match. It's useful for ensuring no data is missing from the right table in the result.

Outer Join: You learned that an outer join returns all rows from both tables, filling in with nulls where there is no match. This join type is particularly useful for finding unmatched data between two tables.

Merging with Different Column Names: You explored how to merge tables when the key columns have different names using the `left_on` and `right_on` parameters in the `merge` method.

Here's an example code snippet you worked with:
```python
# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', 
                                                left_on='movie_id', 
                                                right_on='id')
```

This code merges two tables using a right join, specifying which columns to join on when the column names differ between tables.

The goal of the next lesson is to learn how to use self joins to link entries within the same table, such as connecting movies with their sequels, to enhance data analysis and manipulation.