# Filtering pandas DataFrames

In [2]:
import pandas as pd
import numpy as np

In [8]:
# Data for BRICKS countries with additional columns
data = {
    'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
    'capital': ['Brasília', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
    'area': [8515767, 17098242, 3287263, 9596961, 1219090],
    'population': [213993437, 145912025, 1393409038, 1444216107, 59308690]
}

# Create a pandas DataFrame
bricks = pd.DataFrame(data)

bricks_index = ["BR", "RU", "IN", "CH", "SA"]
bricks.index = bricks_index

# Display the DataFrame
bricks

         country    capital      area  population
BR        Brazil   Brasília   8515767   213993437
RU        Russia     Moscow  17098242   145912025
IN         India  New Delhi   3287263  1393409038
CH         China    Beijing   9596961  1444216107
SA  South Africa   Pretoria   1219090    59308690

In [9]:
bricks["area"]

BR     8515767
RU    17098242
IN     3287263
CH     9596961
SA     1219090
Name: area, dtype: int64

In [10]:
is_huge = bricks["area"] > 3287263

In [11]:
bricks[is_huge]

   country   capital      area  population
BR  Brazil  Brasília   8515767   213993437
RU  Russia    Moscow  17098242   145912025
CH   China   Beijing   9596961  1444216107

In [14]:
bricks

         country    capital      area  population
BR        Brazil   Brasília   8515767   213993437
RU        Russia     Moscow  17098242   145912025
IN         India  New Delhi   3287263  1393409038
CH         China    Beijing   9596961  1444216107
SA  South Africa   Pretoria   1219090    59308690

In [19]:
bricks[np.logical_and(bricks["area"]>3287263, bricks["population"]<=213993437)]

   country   capital      area  population
BR  Brazil  Brasília   8515767   213993437
RU  Russia    Moscow  17098242   145912025